@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*Navbar*/

.bg-navbar {
    background-color: #17293a;
}

.cor-fonte {
    color: #e4ebef !important;
}

/*breadcrumb*/
.breadcrumb-index {
    margin-top: 4rem;
}

.breadcrumb-index-texto {
    font-size: 1.2rem;
    color: #850d29;
}

.breadcrumb-index-texto:hover {
    color: #17293a;
}

.fonte-principal {
    font-family: 'Pacifico', cursive;
}

.cor-habilidades {
    color: #850d29;
    ;

}

.cor-texto-paragrafo {
    color: #17293a;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0px;
    text-indent: 2rem;
}

.box-perfil-index {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border: 0.01rem solid #850d29;
    padding: 1rem;
    margin-top: 2rem;
}

.img-perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.icons-skills {
    font-size: 2rem;
    margin-right: 1rem;
}

.icone-html {
    color: orangered;
}

.icone-css {
    color: blue
}

.icone-oracle {
    color: rgba(204, 30, 30, 0.889);
}

.icone-banco {
    color: grey;
}

.icone-javascript {
    color: rgb(255, 225, 0);
}

.icone-git {
    color: rgb(255, 77, 0);
}

.icone-inteligencia {
    color: rosybrown;
}

.icone-equipe {
    color: grey;
}

.icone-gerenciamento {
    color: green;
}

.icone-pessoa {
    color: #850d29;
}

.icone-telas {
    color: blue;
}

.icone-linkedin {
    color: #0e76a8;
}

.titulos-skills {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #17293a;
}

.paragrafo-skills {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.box-perfil-sobre {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border: 0.01rem solid #850d29;
    padding: 0.5rem;
    margin-top: 1rem;
}


.background {
    background-color: #f6f6f6;
}

.link-contato:hover {
    background-color: rgb(207, 225, 236);
    border-radius: 10px;
    padding: 0.4rem;
    transition: 1s;
}

.card-estilo {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
}

.card-largura {
    max-width: 18rem;
}

.card:hover {
    transform: translate(0, -2rem);
    transition: transform .2s;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.box-projetos {
    margin-top: 1rem;
}

.box-cursos {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(93, 90, 90, 0.1);
    padding: 1rem;
}


.box-obrigado {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}