* {
    margin: 0;
    padding: 0;
}

.fonte-principal{
    font-family: 'Pacifico', cursive;
}

.box-perfil {
    border-radius: 10px;
    background-color: #e4ebef;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 1rem;
}

.box-perfil-index{
    border-radius: 10px;
    background-color: #e4ebef;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 3.3rem;
}

.img-perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.background {
    background-color: #f6f6f6;
}

.link-contato:hover {
    background-color: rgb(207, 225, 236);
    border-radius: 10px;
    padding: 0.4rem;
    transition: 1s;
}

.card-estilo {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
}

.card-largura{
    max-width: 18rem;
}

.card:hover {
    transform: translate(0, -2rem);
}

.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}

.box-projetos {
    margin-top: 1rem;
}

.box-cursos {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(93, 90, 90, 0.1);
    padding: 1rem;
}


.box-obrigado {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}