@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.background {
    background-color: #f6f6f6;
}

/*Navbar*/

.bg-navbar {
    background-color: #17293a !important;
}

.cor-fonte {
    color: #e4ebef !important;
}


/*breadcrumb*/
.breadcrumb-index {
    margin-top: 4rem;
}

.breadcrumb-index-texto {
    font-size: 1.2rem;
    color: #850d29;
}

.breadcrumb-index-texto:hover {
    color: #17293a;
}

.fonte-principal {
    font-family: 'Pacifico', cursive;
}

.cor-habilidades {
    color: #850d29;
    ;

}
.apresentacao{
    border-top:1rem solid #2e4459;
    border-left:1rem solid #2e4459;
    border-radius: 10px 20px 30px;
}

.cor-texto-paragrafo {
    color: #17293a;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0px;
    text-indent: 2rem;
}

.texto-apresentacao{
    text-align: justify;
}
.perfil-index{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.box-perfil-index {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    /* border: 1rem solid ; */
    border-right:1rem solid #850d29;
    border-left:1rem solid #850d29;
    border-radius: 10px 20px 30px;
    padding: 1rem;
    margin-top: 2rem;
}

.img-perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hard-skills{
    border-radius: 10px 20px 30px;
    border-bottom:1rem solid #2e4459;
    border-right:1rem solid #2e4459;
}

.soft-skills{
    border-radius: 10px 20px 30px;
    border-bottom:1rem solid #2e4459;
    border-left:1rem solid #2e4459;
}

.icons-skills {
    font-size: 2rem;
    margin-right: 1rem;
}

.icone-html {
    color: orangered;
}

.icone-css {
    color: blue
}

.icone-oracle {
    color: rgba(204, 30, 30, 0.889);
}

.icone-banco {
    color: grey;
}

.icone-javascript {
    color: rgb(255, 225, 0);
}

.icone-git {
    color: rgb(255, 77, 0);
}

.icone-inteligencia {
    color: rosybrown;
}

.icone-equipe {
    color: grey;
}

.icone-gerenciamento {
    color: green;
}

.icone-pessoa {
    color: #850d29;
}

.icone-telas {
    color: blue;
}

.icone-linkedin {
    color: #0e76a8;
}

.icone-github {
    color: black
}

.icones-footer {
    font-size: 2.2rem;
}

.titulos-skills {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #17293a;
}

.paragrafo-skills {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

/*sobre*/
.titulos {
    color: #850d29;
}

.experiencias{
    border-right:1rem solid #2e4459 ;
    border-bottom:1rem solid #2e4459  ;
    border-radius: 10px 20px 30px;
    
}

.cursos{
    border-left:1rem solid #2e4459 ;
    border-bottom:1rem solid #2e4459  ;
    border-radius: 10px 20px 30px;
}
.fonte-cursos{
    font-family: 'Montserrat', sans-serif; 
    color: #17293a;
}

.titulo-card-cursos{
    font-size: 1.2rem;
    font-weight: 700;
}

.titulos-experiencia {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.paragrafo-experiencia {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.subtitulo-experiencia {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #17293a;
}

.imagem-carrossel {
    height: 600px;
}


/*cards*/

.card{
    border:none !important;
    box-shadow: rgba(167, 164, 164, 0.35) 0px 5px 15px;
}

.card:hover{
    box-shadow: rgba(106, 11, 11, 0.35) 0px 5px 15px;
}

.card-projetos{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-projetos:hover{
    box-shadow: rgba(106, 11, 11, 0.35) 0px 5px 15px;
}


.card-largura {
    max-width: 18rem;
}


.card-posicao-imagem {
    /* object-fit: cover; */
    height: 300px;
}

/*portifolio*/
.box-projetos {
    margin-top: 1rem;
}

.botao-cor-projetos {
    font-family: 'Montserrat', sans-serif;
    background-color: #850d29;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.botao-cor-projetos:hover {
    background-color: #bb2649;
    color: white;
}

/*Contato*/
.icone-linkedin-contato {
    font-size: 4rem;
    color: #0e76a8;
}

.icone-gitbub-contato {
    font-size: 4rem;
    color: black;
}

.botao-enviar {
    font-family: 'Montserrat', sans-serif;
    background-color: #850d29;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    min-width: 60px;
    padding: 0.5rem;
}

.botao-enviar:hover {
    background-color: #bb2649;
    color: white;
}

.form-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/*Obrigado*/
.icone-check {
    color: green;
}

.icone-obrigado {
    font-size: 5rem;
    color: #850d29;
}

.box-obrigado {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.botao-voltar {
    font-family: 'Montserrat', sans-serif;
    background-color: #850d29;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    min-width: 60px;
    padding: 0.5rem;
}

.botao-voltar:hover {
    background-color: #bb2649;
    color: white;
}